<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head.ejs')-%>
</head>
<body class="matchingPage">

    <main class="swipe_page">
        <section class="likesOp">
            <h2>Er zijn geen series om te liken!</h2>
        </section>
        <section class="userPf" id="userPf">
            <img class="cover-picture" src="/images/<%= shows.foto %>.jpg" alt="<%= shows.name %>" 
            srcset="/images/<%= shows.foto%>-250.jpg 100w,
                    /images/<%= shows.foto%>.jpg 2500w">
            <form action="/dislike" method="POST" id="dislikeForm">
                <input type="hidden" name="id" value="<%= shows._id %>">
                <button class="dislike" id="dislike" type="submit"><img src="/images/cross_shadow.png" alt="dislike"></button>
            </form>
            <form action="/like" method="POST" id="likeForm">
                <input type="hidden" name="id" value="<%= shows._id %>">
                <button class="like" id="like" type="submit"><img src="/images/check_shadow.png" alt="like"></button>
            </form>
            <div class="userInfo">
                    <div class="overUser">
                        <h2><%= shows.name %></h2>
                        <h3><%= shows.year %> - <%= shows.lastEp %></h3>
                        <p><%= shows.desc %></p>
                    </div>
            </div>
        </section>
    </main>

        <%- include('layouts/footer.ejs') -%>

</body>
</html> 