<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head.ejs')-%>
</head>
<body>
        <%- include('layouts/header.ejs') -%>

    <main>
        <% users.forEach(function(user) { %>
        <section class="userPf">
            <button class="dislike"><img src="/images/cross.svg" alt="dislike"></button>
            <button class="like"><img src="/images/check.svg" alt="like"></button>
            <div class="userInfo">
                <div class="cover">
                    <div class="overUser">
                        <h2><%= user.name %></h2>
                        <h3>25</h3>
                        <p>Mijn naam is Jennifer. Ik ben overduidelijk een enorme fan van series, dat is dan ook waarom ik op deze app ...</p>
                    </div>
                        <figure><img src="/images/<%= user.cover %>" alt=""></figure>
                </div>
            </div>
        </section>
        <% }) %>
    </main>

        <%- include('layouts/footer.ejs') -%>

</body>
</html> 