<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head.ejs')-%>
</head>
<body>

    <main class="swipe_page">
        <section class="eenMatch displayNone">
            <button class="close">x</button>
            <img src="/images/meisje.jpg" alt="match">
            <img src="/images/meisje.jpg" alt="user">
            <h2>Hey is een match!</h2>
        </section>        
        <% users.forEach(function(user) { %>
        <section class="userPf">
            <button class="dislike"><img src="/images/cross.svg" alt="dislike"></button>
            <button class="like"><img src="/images/check.svg" alt="like"></button>
            <div class="userInfo">
                <div class="cover">
                    <div class="overUser">
                        <h2><%= user.name %></h2>
                        <h3><%= user.age %></h3>
                        <p>Mijn naam is <%= user.name %> Ik ben overduidelijk een enorme fan van series, dat is dan ook waarom ik op deze app ...</p>
                    </div>
                        <figure><img src="/images/<%= user.cover %>" alt=""></figure>
                </div>
            </div>
        </section>
        <% }) %>
    </main>

        <%- include('layouts/footer.ejs') -%>

</body>
</html> 