<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head.ejs')-%>
</head>
<body>
        <%- include('layouts/header.ejs') -%>

    <main class="match_page">
        <section>
            <h3>Liked Shows</h3>
            <ul>
                    <% myLikes.forEach(function(match) { %>
                        <li><img src="/images/<%= match.foto %>.jpg" alt="profielfoto <%= match.name %>"
                            srcset="/images/<%= match.foto%>-250.jpg 100w,
                            /images/<%= match.foto%>.jpg 2500w"><p><%= match.name %></p></li>
                        <% }) %>
            </ul>
        </section>
    </main>

        <%- include('layouts/footer.ejs') -%>

</body>
</html> 