<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head.ejs')-%>
</head>
<body>
        <%- include('layouts/header.ejs') -%>

    <main class="match_page">
        <section>
            <h3>Je matches:</h3>
            <ul>
                <% matches.forEach(function(match) { %>
                <li><img src="/images/<%= match.foto %>" alt="profielfoto <%= match.name %>"></li>
                <% }) %>
            </ul>
        </section>
        <section>
            <h3>Chatberichten:</h3>
            <ul>
                <% matches.forEach(function(match) { %>
                <li>
                    <img src="/images/<%= match.foto %>" alt="profielfoto <%= match.name %>">
                    <div>
                        <h4><%= match.name %></h4>
                        <p class="chat_text">Hey! Hoe gaat het?</p>
                    </div>
                </li>
                <% }) %>
            </ul>
        </section>
    </main>

        <%- include('layouts/footer.ejs') -%>

</body>
</html> 