<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head.ejs')-%>
</head>
<body>
        <%- include('layouts/header.ejs') -%>

    <h1><%= title %></h1>
    <h2><%= movie.year %></h2>
    <h2><%= movie.storyline %></h2>
    <h2>Categories:</h2>
    <ul>
        <% movie.categories.forEach(function(category) { %>
            <li><%= category %></li>
        <% }) %>
    </ul>

        <%- include('layouts/footer.ejs') -%>
        
</body>
</html>