<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head.ejs')-%>
</head>
<body>
        <%- include('layouts/header.ejs') -%>

    <h1><%= title %></h1>
    <% movies.forEach(function(movie) { %>
        <section>
            <h2><%= movie.name %></h2>
            <h3><%= movie.year %></h3>
            <h3>Categories:</h3>
            <ul>
                <% movie.categories.forEach(function(category) { %>
                    <li><%= category %></li>

                <% }) %>
            </ul>
            <p><a href="/series/<%= movie.id %>/<%= movie.slug %>">Meer info</a></p>
        </section>

    <% }) %>

        <%- include('layouts/footer.ejs') -%>
        
</body>
</html>